  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Signika:wght@300;400&family=Ubuntu+Mono:ital,wght@1,400;1,700&display=swap');
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  /* font-family: 'Quicksand', sans-serif;
font-family: 'Signika', sans-serif;
font-family: 'Ubuntu Mono', monospace; */

  .shadow__c {
      transition: all 0.5s linear;
  }

  .shadow__c:hover {
      /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;; */
      box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }

  .shadowFixed__c {
      border-radius: 56px;
      background: #e0e0e0;
      box-shadow: 11px 11px 36px #7d7d7d,
          -11px -11px 36px #ffffff;
  }


  .quickSand {
      font-family: 'Quicksand', sans-serif;
  }

  .ubantu {
      font-family: 'Ubuntu Mono', monospace;
  }

  .signika {
      font-family: 'Signika', sans-serif;
  }



  .btn-grad {
      background-image: linear-gradient(to right, #FF512F 0%, #DD2476 51%, #FF512F 100%);
      margin: 10px;
      padding: 15px 45px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      color: white;
      box-shadow: 0 0 20px #eee;
      border-radius: 10px;
      display: block;
  }

  .btn-grad:hover {
      background-position: right center;
      /* change the direction of the change here */
      color: #fff;
      text-decoration: none;
  }

  .testimonial {
      transition: all 0.2s ease-in-out;
  }

  .testimonial:hover {
      -webkit-box-shadow: 12px 12px 2px 0px rgba(0, 0, 0, 0.8);
      -moz-box-shadow: 12px 12px 2px 0px rgba(0, 0, 0, 0.8);
      box-shadow: 12px 12px 2px 0px rgba(0, 0, 0, 0.8);
  }

  .inputbox {
      position: relative;
      margin: 10px;
      /* width: ; */
  }

  .inputbox input {
      border-bottom: 2px solid black;
      padding: 8px 12px;
      width: 100%;
  }
  
  .inputbox input:valid~span,
  .inputbox input:focus~span {
      transform: translateY(-150%);
      padding: 0px 10px;
      font-size: 12px;
  }

  .inputbox span {
      position: absolute;
    transition: all 0.3s cubic-bezier(0.69, 0.03, 0.3, 0.99);

      top: 50%;
      font-size: 20px;
      left: 10px;
      transform: translateY(-50%);
  }

  .navbar {
      transition: all 0.3s ease-in-out;
      border: 2px solid red;
  }


  .inputbox input:focus {
      outline: none;
  }

  .contactus {
      /* border: 2px solid black; */
      /* border-radius: 8px; */
      -webkit-box-shadow: 12px 12px 2px 0px rgba(0, 0, 0, 0.8);
      -moz-box-shadow: 12px 12px 2px 0px rgba(0, 0, 0, 0.8);
      box-shadow: 12px 12px 2px 0px rgba(0, 0, 0, 0.8);
  }




  /************/


  .frame {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 400px;
      height: 400px;
      margin-top: -200px;
      margin-left: -200px;
      border-radius: 2px;
      box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
      background: #3FAF82;
      color: #fff;
  }

  .center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
